/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
::-webkit-input-placeholder { font-size: 24px; }
::-moz-placeholder { font-size: 24px; }
:-ms-input-placeholder { font-size: 24px; }
input: -moz-placeholder { font-size: 24px; }

 html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small, h3, h4, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
  font-family: sans-serif;
}

* {
  position: relative;
  box-sizing: border-box;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

body {
  background-color: #eee;
  font-size: 16px;
}

/**********************Form*****************************/
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  color: #22f;
  font-family: sans-serif;
  background: #eee;
  color: white;
  background: transparent;
  font-size: 24px;
  width: 40vw;
  height: 35vh;
  top: 10vh;
  margin: 0 auto;
}

.side-list {
  display: flex;
}

.form li {
  color: red;
  font-size: 12px;
  padding-bottom: 4px;
}

.form input {
  border-radius: 4px;
  box-shadow: none;
  line-height: 24px;
  font-size: 24px;
  border: 1px solid #999;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  width: 100%;
}

.form textarea {
  line-height: 24px;
  font-size: 24px;
}

.form button {
  width: 70px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #eee;
}

.form div {
  width: 100%;
  align-self: center;
}

.small-form {
  height: 15vh;
  justify-content: space-around;
}

/************************GamesIndexItems*****************************/

.top-bar {
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}

.index {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}

.game-item {
  width: 18vw;
  padding: 1vw;
}
.game-item-interior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-item figure {
  height: 25vw;
  width: 100%;
  display: flex;
}

.x-but {
  font-size: 30;
  align-self: flex-end;
  font-weight: 700;
  color: #666;
  cursor: pointer;
}
.game-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
  align-self: center;
}

.game-item-interior:hover {
}

.game-item img:hover + .game-sum {
  color: #a22;
}

.game-item .title {
  font-size: 20px;
  cursor: pointer;
}

.game-item .plat-rate {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.game-sum:hover {
  color: #a22;
}

.flex {
  display: flex;
}

.vert-center {
  align-self: center;
  vertical-align: center;
}

/********************HEADBAR STYLES******************************/

.header nav {
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 1;
  background-color: black;
}

.children {
  width: 100vw;
  top: 50px;
}

.logo {
  display: flex;
  font-size: 36px;
  color: purple;
  font-family: 'Lobster', cursive;
  margin-right: 60px;
  margin-left: 10px;
  cursor: pointer;
}


.logo .wp {
  top: 7px;
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-family: sans-serif;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ccc;
}

nav section, nav ul {
  display: flex;
  height: 100%;
}

nav ul {
  border-left: 1px solid #666;
}

.lib-index {
  flex-direction: column;
  display: none;
  position: absolute;
  /*top: 36px;*/
}

.lib-dropdown:hover .lib-index {
  display: block;
  z-index: 9999;
}

.lib-dropdown .button {
  margin-left: 10px;
}

nav .lib-item {
  padding: 2px;
  opacity: .9;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: #555;
  color: #eee;
}

nav li p {
  height: auto;
  width: 200px;
}


nav {
  background-color: lightblue;
}

nav li {
  display: flex;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-right: 1px solid #666;
}

nav li:hover {
  background-color: #a22;
  color: white;
}

nav .search-bar {
  display: flex;
  height: 100%;
  margin-left: 10px;
}

.search-bar input {
  height: 18px;
}

nav label {
  align-self: center
}

.button {
  border: 1px solid #666;
  color: white;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #a22;
}

.button:hover {
  background-color: #a00;
}

/**************GameIndex*******************************************/

.index {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  left: 5vw;
}

/************************GameDetail**********************/

.det-body {
  background-color: #aaa;
  height: 100%;
}

.game-detail {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.game-sidebar {
  width: 20vw;
  border-radius: 1px;
  margin-top: 20px;
  position: fixed;
  background-color: #eee;
  top: 50px;
  left: 5vw;
}

.game-sidebar img {
  width: 100%;
  height: auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.game-sidebar span {
  display: block;
  text-align: center;
  background-color: #a22;
}

.drop-down ul {
  position: absolute;
  display: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 70%;
  left: 15%;
}

.drop-down li {
  border-bottom: 1px solid black;
  cursor: pointer;
  text-align: center;
}

.home .drop-down {
  position: relative;
}

.drop-down li:hover {
  background-color: #a22;
  color: white;
}

.drop-down:hover ul {
  display: block;
  z-index: 20;
  background-color: #555;
}

.game-body {
  width: 90%;
  left: 12vw;
}

.game-info {
  margin-top: 20px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #eee;
}

.game-info ul {
  padding-bottom: 10px;
}

.summary {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.lib-list {
  height: 26px;
  align-self: center;
}

.summary .menu {
  display: none;
  position: absolute;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  cursor: pointer;
  opacity: .9;
}

.summary .menu li {
  border-top: 1px solid #ccc;
}

.menu {
  background-color: #555;
}
.menu li {
  background-color: #555;
}
.summary .menu li:hover {
  border-top: 1px solid #ccc;
  background-color: #a22;
}

.lib-list:hover .menu, .menu:hover {
  z-index: 8000;
  display: block;
}

.game-info li {
  padding-top: 10px;
  padding-left: 20px;
}

.game-info h3 {
  font-size: 30px;
}

.game-info h4 {
  font-size: 22px;
}

.game-detail .large-block {
  padding: 20px;
}

.game-detail .large-block p {
  margin-top: 10px;
}

.large-block .bottom-bar {
  display: flex;
  justify-content: space-between;
}

.bottom-bar {
  width: 100%;
  font-size: 14px;
  border-top: 1px solid #ccc;
}

.bottom-bar ul {
  display: flex;
  border-bottom: 0px solid black;
  padding-bottom: 0px;
}

.bottom-bar li {
  align-self: center;
}

.bottom-bar a {
  color: #a22;
  text-decoration: underline;
  cursor: pointer;
}

.review-list {
  margin-top: 25px;
  background-color: #eee;
}

/***************************HOME***********************************/

/*.home {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
}

.home-sidebar {
  width: 25%;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.home-sidebar h1 {
  color: #f4f;
  font-size: 22px;
  padding: 10px;
}


.home-sidebar li {
  color: #a22;
  text-decoration: underline;
  padding-left: 10px;
  padding-bottom: 5px;
}

.home-sidebar li span {
  cursor: pointer;
}

.icon {
  font-weight: 1000;
  padding: 3px;
  color: #aaa;
  text-decoration: none;
}

.home-sidebar .button {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  margin-top: 10px;
}

.home-body {
  width: 100%;
}

.index li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.index .icon {
  width: 3%;
  align-self: center;
}






.review-list {
  font-size: 14px;
}*/

.hidden {
  display: none;
}

.inline-form {
  position: absolute;
}




/***********************REVIEWSTYLES***********************************/

.review-header {
  /*border-bottom: 1px solid #666;*/
}
.review {
  margin-left: 1vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
  margin-top: .5vw;
  border: 1px solid #ccc;
}

.review-list .r-title {
  font-size: 24px;
  padding: .7vw;
}

.review-list {

  margin-bottom: 70vh;
}
.u-name {
  padding-left: 2vw;
  padding-top: .2vw;
}

.review-body {
  padding: .5vw;
  padding-top: 1vw;
}

.review-body p {
  text-indent: 2em;
}

.announcer {
  /*border-bottom: 1px solid #bbb;*/
  font-size: 20px;
  font-weight: 700;
  padding-left: 1vw;
  padding-top: .2vw;
}


/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
